doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-2.1.0.js") 
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
    script(src="/javascripts/client.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content