extends ../layout

script(src="/javascripts/client.js")

block content
  h1 Your status message is now saved in our database! 
  h2 This is the status message you just entered. 
  p(id="ele")    
    
  
  
